

<div class="panel panel-primary container">
    <div class="panel-heading">
      <h2>Verifiche</h2>
      <nav class="navbar navbar-expand-sm bg-light" style="color: white; "> 
        <ul >
         
          <a routerLink="/addVerifica" class="btn btn-primary scrollto"style="margin-top: 10px;"  routerLinkActive="active">Add Exam</a>
          <br>
          <a (click)="logout()" style="cursor: pointer; right: 0;margin-top: 10px; " class="btn btn-primary scrollto" routerLinkActive="active">Logout</a>
        </ul>
      </nav><br>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>ID</td>
            <td>testo</td>
            <td>griglia</td>
            <td>titolo</td>
            <td>difficolta</td>
            <td>materia</td>
            <td>durata</td>
         
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data">
            <td>{{row.id}}</td>
            <td><a href="{{row.testo}}" class="btn btn-warning btn-download btn-sm">Testo</a></td>
            <td><a href="{{row.griglia}}" class="btn btn-warning btn-download btn-sm">Griglia</a></td>
            <td>{{row.titolo}}</td>
            <td>{{row.difficolta}}</td>
            <td>{{row.materia}}</td>
            <td>{{row.durata}}</td>
        
             
        
          </tr>
        </tbody>
      </table>
    </div>
  </div>