<br>
<div [hidden]="submitted" style="width: 400px;" class="container">
  <h3>Crea Verifica</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="subject">testo: </label>
      <input type="text" class="form-control" id="testo" required [(ngModel)]="user.testo" name="testo">
    </div>
    <div class="form-group">
      <label for="subject">griglia: </label>
      <input type="text" class="form-control" id="griglia" required [(ngModel)]="user.griglia" name="griglia">
    </div>
    <div class="form-group">

      <label for="title">titolo: </label>
      <input type="text" class="form-control" id="titolo" required [(ngModel)]="user.titolo" name="titolo">
    </div>
    <div class="form-group">
      <label for="difficulty">difficolta: </label>
      <input type="text" class="form-control" id="difficolta" required [(ngModel)]="user.difficolta" name="difficolta">
    </div>
    <div class="form-group">
      <label for="subject">materia: </label>
      <input type="text" class="form-control" id="materia" required [(ngModel)]="user.materia" name="materia">
    </div>
    <div class="form-group">
      <label for="duration">durata: </label>
      <input type="text" class="form-control" id="durata" required [(ngModel)]="user.durata" name="durata">
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-primary" (click)="back()" style="cursor: pointer; right: 0; margin-left: 10px;">back</button>
   
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Successfully submitted!</h4>
</div>
<p [hidden]="!submitted" class="bottom"> <a routerLink="/verifica"> Back
</a></p>